
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form name="userInfo" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="InputName">姓名</label>
                <input type="text" class="form-control" id="InputName" name="name">
                <small id="NameHelp" style="color:red"></small>
            </div>
            <div class="form-group">
                <label for="InputEmail">電子信箱</label>
                <input type="text" class="form-control" id="InputEmail" name="email">
            </div>
            <div class="form-group">
                <label for="InputAge">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="age">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file"/>
                <label class="custom-file-label" for="customFile">請選擇檔案</label>
            </div>
        </form>
        <br />
        <div class="alert alert-info" id="div1"></div>
    </div>
    <div class="col-3"></div>
</div>

@section Scripts{
    <script>
        @*const btnSubmit = document.querySelector('.btn');
        const divInfo = document.querySelector('#div1');

        btnSubmit.addEventListener('click', (evt) => {
            evt.preventDefault();
            const formData = new FormData(document.userInfo);
            const xhr = new XMLHttpRequest();

            xhr.addEventListener('load', () => {
                const data = xhr.responseText;
                divInfo.innerHTML = `<h3>${data}</h3>`;
            })
            xhr.open('POST', '@Url.Content("~/api/index")');
            xhr.send(formData);
        })*@

        const btnSubmit = document.querySelector('.btn');
        const divInfo = document.querySelector('#div1');
        const txtName = document.querySelector('#InputName');
        const smallName = document.querySelector('#NameHelp')

        @*txtName.addEventListener('blur', (evt) => {
            evt.preventDefault();
            const formData = new FormData(document.userInfo);
            const xhr = new XMLHttpRequest();
            xhr.addEventListener('load', () => {
                const data = xhr.responseText;
                emailHelp.innerHTML = `<h3>${data}</h3>`;
            })
            xhr.open('POST', '@Url.Content("~/api/VerifyName")');
            xhr.send(formData);
        })*@
        txtName.addEventListener('blur', () => {
            smallName.innerHTML = "";
            //divInfo.innerHTML = "";
            if (txtName.value.trim() === "") {
                //divInfo.innerHTML = "請輸入姓名";
                smallName.innerHTML = "請輸入姓名"
                smallName.style.color = "RED";
            } else {
                const xhr = new XMLHttpRequest();
                xhr.addEventListener('load', () => {
                    const data = xhr.responseText;
                    if (data == "True") {
                        //divInfo.innerHTML = `<h3>姓名已存在</h3>`;
                        smallName.innerHTML = "姓名已存在";
                        smallName.style.color = "RED";
                    } else {
                        smallName.innerHTML = "此姓名可以使用"
                        smallName.style.color = "BLUE"
                        //divInfo.innerHTML = "此姓名可以使用";
                    }
                });
                xhr.open('POST', '@Url.Content("~/api/CheckName")' +`?name=${ txtName.value }`);
                xhr.send();
            }
        })

        btnSubmit.addEventListener('click', (evt) => {

            @*evt.preventDefault();
            const formData = new FormData(document.userInfo);
            const xhr = new XMLHttpRequest();

            xhr.addEventListener('load', () => {
                const data = xhr.responseText;
                divInfo.innerHTML = `<h3>${data}</h3>`;
            })
            //xhr.open('POST', '@Url.Content("~/api/index")');
            xhr.open('POST', '@Url.Content("~/api/Register")');
            xhr.send(formData);*@
            @* xhr.open('POST', '@Url.Content("~/api/Register")');
            xhr.send(formData);*@

            fetch('@Url.Content("~/api/Register")', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(data => divInfo.innerHTML = data);
            
        })
    </script>
}
